.home 
{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
  
/* HomePageIntroduction */
.homepage-container
{
    width: auto;
}

.vertical-Line1
{
    border-left: 13px solid #5d8245;
    height: 530px;
    position: absolute;
    left: 10%;
    margin-left: -3px;
    top: 33%;
}

.homepage-container img
{
    width: 100%;
    height: 100vh;
}
  
.homepage-container h1
{
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 150px;
    color: #5d8245;
}

.homepage-container h3
{
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 110px;
    color: #5d8245;
}

.homepage-container p 
{
    position: absolute;
    top: 65%;
    left: 44%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 40px;
    color: #5d8245;
}

.homepage-container button 
{
    position: absolute;
    top: 85%;
    left: 24.3%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 30px;
    background-color: #131315; /* Arkaplan rengi */
    color: #fff; /* Yazı rengi */
    padding: 11px 70px; /* İç içe içeriği çerçeveye yerleştirme */
    border-radius: 15px; /* Kenar yuvarlatma */
    border: none; /* Kenarlık olmadan */
    cursor: pointer; /* Üzerine geldiğinde imleci değiştirme */
    transition: background-color 0.3s ease-in-out; /* Arka plan rengi geçiş efekti */
}

.homepage-container button:hover 
{
    background-color: #5d8245; /* Üzerine gelindiğinde arka plan rengini değiştirme */
}
  
/* HomePageAboutUs */
  
.homepage-aboutUs
{
    width: auto;
}

.horizontal-line1
{
    position: absolute;
    bottom: -24%;
    left: 0;
    width: 30%;
    height: 5px;
    background-color: white;
    
}

.horizontal-line2
{
    position: absolute;
    bottom: -112%;
    right: 0;
    width: 30%;
    height: 5px;
    background-color: white;
}

.homepage-aboutUs img
{
    width: 100%;
    height: 100vh;
}

.homepage-aboutUs h1
{
    position: absolute;
    top: 130%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 70px;
    color: #5d8245;
}


.homepage-aboutUs p 
{
    text-align: left;
    position: absolute;
    top: 175%;
    left: 79%;
    transform: translate(-50%, -50%);
    z-index: 1;
    height: 70vh;
    font-size: 30px;
    color: #5d8245;
    width: 40%;
}

.box1
{
    position: absolute;
    left: 8%;
    top: 133%;
}

.box1 img
{
    width: 30%;
    height: auto;
}

.box2
{
    position: absolute;
    left: 8%;
    top: 170%;
}

.box2 img
{
    width: 30%;
    height: auto;
}

.box3
{
    position: absolute;
    left: 38%;
    top: 139%;
}

.box3 img
{
    width: 30%;
    height: auto;
}

/* HomePage Goals and Missions */


.homepage-goalsAndMissions {
    position: relative;
    display: inline-block;
}

.transparent-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.history { /* İlk kutu */
    top: 40%;
    left: 10%;
}

.mission { /* İkinci kutu */
    top: 40%;
    left: 40%;
}

.vision { /* Üçüncü kutu */
    top: 40%;
    left: 70%;
}

.transparent-box p {
    color: #000;
    font-size: 18px;
    text-align: center;
}