.home {
  width: 100%;
  height: 100vh;
  display: inline-block;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
}

/* HomePageIntroduction */
.homepage-container {
  width: auto;
  display: block;
  margin-bottom: -3.9px;
}

.vertical-Line1 {
  border-left: 13px solid #5d8245;
  height: 530px;
  position: absolute;
  left: 10%;
  margin-left: -3px;
  top: 33%;
  display: block;
}

.homepage-container img {
  width: 100%;
  height: 100vh;
  display: block;
}

.homepage-container h1 {
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 150px;
  color: #5d8245;
  display: block;
}

.homepage-container h3 {
  position: absolute;
  top: 45%;
  left: 35%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 110px;
  color: #5d8245;
  display: block;
}

.homepage-container p {
  position: absolute;
  top: 65%;
  left: 44%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 40px;
  color: #5d8245;
  display: block;
}

.homepage-container button {
  position: absolute;
  top: 85%;
  left: 24.3%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 30px;
  background-color: #131315;
  color: #fff;
  padding: 11px 70px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: block;
}

.homepage-container button:hover {
  background-color: #5d8245; /* Üzerine gelindiğinde arka plan rengini değiştirme */
}

@media screen and (max-width: 450px) {
  .homepage-container h1 {
    font-size: 44px;
    line-height: 42px;
    top: 30%;
    left: 49%;
  }

  .homepage-container img {
    height: 80vh;
    width: 100%;
  }

  .vertical-Line1 {
    border-left: 10px solid #5d8245;
    height: 530px;
    position: absolute;
    left: 10%;
    margin-left: -4px;
    top: 25%;
    display: block;
  }

  .homepage-container h3 {
    top: 39%;
    font-size: 28px;
    line-height: 42px;
    left: 45%;
  }

  .homepage-container p {
    font-size: 20px;
    left: 49%;
    top: 56%;
  }

  .homepage-container button {
    font-size: 20px;
    left: 49%;
    top: 80%;
  }
}

/* HomePageAboutUs */

.homepage-aboutUs {
  width: auto;
}

.horizontal-line1 {
  position: absolute;
  bottom: -24%;
  left: 0;
  width: 30%;
  height: 5px;
  background-color: white;
}

.horizontal-line2 {
  position: absolute;
  bottom: -112%;
  right: 0;
  width: 30%;
  height: 5px;
  background-color: white;
}

.homepage-aboutUs img {
  width: 100%;
  height: 100vh;
  margin-bottom: -3.9px;
}

.homepage-aboutUs h1 {
  position: absolute;
  top: 130%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 70px;
  color: #5d8245;
}

.homepage-aboutUs p {
  text-align: center;
  position: absolute;
  top: 139%;
  left: 70%;
  font-size: 24px;
  color: #5d8245;
  width: 20%;
}

.box1 {
  position: absolute;
  left: 8%;
  top: 133%;
}

.box1 img {
  width: 30%;
  height: auto;
}

.box2 {
  position: absolute;
  left: 8%;
  top: 170%;
}

.box2 img {
  width: 30%;
  height: auto;
}

.box3 {
  position: absolute;
  left: 38%;
  top: 139%;
}

.box3 img {
  width: 30%;
  height: auto;
}

@media screen and (max-width: 450px) {
  .homepage-aboutUs {
    height: 100vh;
    width: 100%;
  }

  .homepage-aboutUs img {
    height: 100vh;
    width: 100%;
  }

  .horizontal-line1 {
    position: absolute;
    bottom: 1%;
    left: 0%;
    width: 60%;
    height: 3px;
    background-color: white;
  }

  .horizontal-line2 {
    position: absolute;
    bottom: -85%;
    right: 0%;
    width: 60%;
    height: 1px;
    background-color: white;
  }

  .aboutUs-mobile-container {
    position: absolute;
    display: block;
    top: 104%;
    left: 39px;
    width: 70%;
    height: 65%;
    background: rgba(69, 73, 75, 0.8);
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
  }

  .aboutUs-mobile-container h1 {
    font-size: 32px;
    top: 4%;
    left: 154px;
    color: #131315;
  }

  .aboutUs-mobile-container p {
    text-align: center;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    height: 0vh;
    font-size: 17px;
    color: #131315;
    width: 80%;
  }

  .aboutUs-mobile-container button {
    margin-top: 610px;
    width: 65%;
    height: 6vh;
    border-radius: 30px;
    background: linear-gradient(to bottom, #45494b, #101010);
    color: #fff;
  }

  .box1 {
    display: none;
  }

  .box1 img {
    width: 30%;
    height: auto;
  }

  .box2 {
    display: none;
  }

  .box2 img {
    width: 30%;
    height: auto;
  }

  .box3 {
    display: none;
  }

  .box3 img {
    width: 30%;
    height: auto;
  }
}

/* HomePage Goals and Missions */
.homepage-goalsAndMissions {
  position: relative;
  display: inline-block;
}

.goals-container {
  margin-top: -50%;
  text-align: center;
}

.goals-container h1 {
  font-size: 50px;
  margin-top: -30px;
  color: #5d8245;
}

.box {
  display: inline-block;
  width: 20%;
  margin: 100px;
  vertical-align: top;
  text-align: left;
  background: rgba(255, 255, 255, 0.4);
  height: 65vh;
  border-radius: 30px;
}

.inner-line {
  width: 100%;
  border: 1px solid #000;
  margin-top: 50px;
}

.goals-container h2 {
  margin: 30px 0;
  text-align: center;
  font-size: 30px;
}

.goals-container p {
  margin: 10px;
  text-align: center;
}

.goals-container h3 {
  text-align: center;
  font-size: 30px;
  color: #5d8245;
}

@media screen and (max-width: 450px) {
  .homepage-goalsAndMissions {
    position: relative;
    display: inline-block;
  }

  .homepage-goalsAndMissions img {
    height: 100vh;
    width: 100%;
  }

  .goals-container-mobile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    justify-content: space-between;
  }

  .goals-container-mobile h1 {
    font-size: 39px;
    margin-top: 15%;
    color: #fff;
  }

  .goals-container-mobile h3 {
    font-size: 19px;
    text-align: center;
    color: white;
  }
  
  .goals-container-mobile button{
    position: absolute;
    bottom: -220%;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    height: 7vh;
    background-color: rgba(128, 128, 128, 0.9);
  }

  .goals-container-mobile button div{
    color: white;
    font-size: 20px;
  }

  .mission-vision-container {
    position: absolute;
    top: 190%;
    height: 50vh;
    width: 85%;
    background-color: rgba(128, 128, 128, 0.8);
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
  }

  .mission-header {
    background-color: black;
    width: 35%;
    height: 4vh;
    border-radius: 8px;
    margin: 40px auto 0; /* Üstte 10px boşluk bırakır */
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .mission-header div {
    color: #fff;
    text-align: center;
  }

  .mission-field {
    width: 90%;
    height: 17vh;
    background-color: white;
    border-radius: 11px;
    margin: -20px auto;
  }

  .mission-field p {
    text-align: center;
    padding-top: 40px;
  }

  .vision-header {
    background-color: black;
    width: 35%;
    height: 4vh;
    border-radius: 8px;
    margin: 40px auto;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .vision-header div {
    color: #fff;
    text-align: center;
  }

  .vision-field {
    width: 90%;
    height: 17vh;
    background-color: #fff;
    border-radius: 11px;
    margin: -50px auto;
  }

  .vision-field p{
    text-align: center;
    padding-top: 40px;
  }

}
